<div class="sign_up vh-100 d-flex" style="align-items: center;">

  <div style= "width: 30%; height: 100%; margin-top:340px; text-align: right;">
    <div style=" font-size:40px; color:white; font-weight:bold; height:60px; background-color:#800000; width:200px; text-align:center; margin-left: 230px;" >
      Stockapp
    </div>
    <h3 style="border-bottom: solid 2px black;">テストアカウント<h3>
    <p style="margin-bottom:30px;">メールアドレス : test@1</p>
    <p style="margin-bottom:30px;">パスワード : 123456</p>
    <p>パスワード(確認用) : 123456</p>
  </div>
  <div class="text-center" style="margin: 0; width:40%;">
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <%= render "shared/error_messages", model: resource %>

      <div>
        <h1>ログイン</h1>
      </div>

      <div class="field">
        <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "メールアドレス",
        :style=>"height:40px; width:400px; border:none; border:solid 1px silver; border-radius:5px; margin-bottom:15px;" %>
      </div>

      <div class="field">
        <%= f.password_field :password, autocomplete: "new-password", placeholder: "パスワード",
        :style=>"height:40px; width:400px;border:none; border:solid 1px silver; border-radius:5px; margin-bottom:15px;" %>
      </div>

      <div class="field">
        <%= f.password_field :password_confirmation, autocomplete: "new-password", placeholder: "パスワード(確認用)",
        :style=>"height:40px; width:400px;border:none; border:solid 1px silver; border-radius:5px; " %>
      </div>

      <div class="actions" style="font-size:20px; margin-top:20px;">
        <%= f.submit "ログイン" %>
      </div>
    <% end %>

    <%= render "devise/shared/links" %>
  </div>

  <div style="width:30%; height: 100%;">
  </div>

</div>
